<div class="container">
    <div class="row">
        <div class="col">
            <div class="card-columns pt-4">
                {% include "htmx/cards/list_creation_button.html" %}
            </div>
        </div>

        {% for card_list in card_lists %}
        <div class="col">
            <div class="card-columns pt-4">
                <div class="card">
                {% include "htmx/cards/new_card_list.html" %}
                </div>
            </div>
        </div>
        {% endfor %}

    </div>
</div>