<div id="cardList" class="row container mt-4">
    <form class="sortable"
          hx-patch="/cards/reorder"
          hx-target="closest #cardList"
          hx-trigger="end"
          hx-swap="outerHTML"
          style="background-color: chocolate"
    >
    {% for card in cards %}
        {% include "htmx/cards/card.html" %}
    {% endfor %}
</div>

<script>
    var sortables = document.querySelectorAll(".sortable");
    for (var i = 0; i < sortables.length; i++) {
        var sortable = sortables[i];
        new Sortable(sortable, {
            animation: 150,
            group: "shared",
            ghostClass: 'blue-background-class'
        });
    }
</script>