<div class="card-body">
    <h3 class="card-title">{{ card_list.get_name() }}</h3>
    <hr>
    <div id="{{ card_list.get_id() }}" class="d-flex flex-column">
        <form class="sortable"
              hx-put="{{ hx_put_url }}{{ card_list.get_id() }}"
              hx-target="#{{ card_list.get_id() }}"
              hx-trigger="end"
              hx-swap="outerHTML"
              style="background-color: chocolate"
        >
            {% for card in card_list.get_cards() %}
                <div class="container p-0 mt-3 mb-3">
                    <input type="hidden" name="id" value="{{ card.id }}" />
                    {% include "card.html" %}
                </div>
            {% endfor %}
            <div class="card p-3 mt-3">
                {% include "card_creation_form.html" %}
            </div>
        </form>
    </div>
</div>
<script>
    var sortables = document.querySelectorAll(".sortable");
    sortables.forEach(function(sortable) {
        new Sortable(sortable, {
            animation: 150,
            group: "shared",
            ghostClass: 'blue-background-class',
            onSort: function(evt) {
                var form = evt.from.closest('form');
                var formData = new FormData(form);
                var hxPutUrl = form.getAttribute('hx-put');
                fetch(hxPutUrl, {
                    method: 'PUT',
                    body: formData
                }).then(response => {
                    // Handle response as needed
                    console.log('Request successful');
                }).catch(error => {
                    // Handle error
                    console.error('Error:', error);
                });
            }
        });
    });
</script>