<div class="card mt-2" id="{{ id }}"
     hx-target="this"
     hx-swap="outerHTML"
>
        <div class="card-body">
            <div class="d-flex align-items-center">
                <h5 class="card-title">{{title}}</h5>
            </div>
            <div class="d-flex align-items-left">
                 <pre><p class="card-text">{{content}}</p></pre>
            </div>
            <div class="d-flex align-items-center">
                <button type="button"
                        class="btn btn-danger me-2"
                        hx-trigger = "click"
                        hx-delete="/post/{{id}}"
                        hx-confirm="Do you want to delete?"
                        hx-indicator="#spinner{{ id }}"
                >
                    <i class="bi bi-trash">Delete</i>
                </button>
                <div id="spinner{{ id }}" class="htmx-indicator spinner-border" role="status"></div>
            </div>
        </div>
</div>